<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOLZAPP</title>

    <link rel="icon" type="image/x-icon" href="https://boolean.careers/favicon/favicon.ico">
    <link rel="stylesheet" href="style.css" />

    <!-- Librerie terze parti -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">



    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

</head>

<body>

    <div id="app">

        <header>
        </header>

        <div class="container overflow-auto h-100 mt-4  position-relative">

            <div class="h-100 flex-grow-1 overflow-auto d-flex">
                <!-- BARRA LATERALE DEI PROFILI -->
                <aside class="profile-bar">
                    <!-- PROFILO PERSONALE -->
                    <div class="my-profile">
                        <div>
                            <img class="img-profile rounded-circle" src="./img/avatar_io.jpg" alt="profile-pic">
                            <span class="fw-bold">Sofia</span>
                        </div>
                        <div class="p-3">
                            <a class="icon-option" href="#"><i class="fa-solid fa-circle-notch"></i></a>
                            <a class="icon-option" href="#"><i class="fa-solid fa-message"></i></a>
                            <a class="icon-option" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>
                    <!-- NOTIFICHE NUOVI MESSAGGI -->
                    <div class="notification-bar p-3 d-flex">
                        <a class="bg-light rounded-circle" href="#">
                            <i
                                class="fa-solid fa-bell-slash d-flex py-2 align-item-center justify-content-center fs-3"></i></a>
                        <div class="px-2 d-flex flex-column py-1 align-item-center justify-content-center">
                            <span class="fw-bold">Ricevi notifiche di nuovi messaggi</span>
                            <p><a href="#">Attiva notifiche desktop</a></p>
                        </div>
                    </div>

                    <!-- RICERCA CONTATTI -->
                    <div class="contact-container py-2">

                        <div class="input-group input-group-sm mb-2 p-2">
                            <button class="btn btn-outline-secondary opacity-50" style="width: 60px;" type="button"
                                id="button-addon1"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                                v-model="search">
                        </div>

                        <!-- CONTATTI DI DUE ANNI FA -->

                        <ul class="list-group list-group-flush overflow-auto flex-grow-1">
                            <li class="list-group-item list-group-item-action d-flex" v-for="contact in filteredList"
                                @click="userClick(contact)">

                                <img class="rounded-circle" :src="`./img/avatar${contact.avatar}.jpg`" alt="pic-img">
                                <div class="d-flex flex-column profile-name">
                                    <span class="fw-bold">{{contact.name}}</span>
                                    <span class="d-inline-block text-truncate" style="width: 200px">
                                        {{contact.messages[contact.messages.length - 1].message}}</span>
                                </div>
                                <div class="time ms-auto small">
                                    {{contact.messages[contact.messages.length - 1].date}}
                                </div>
                            </li>

                        </ul>

                    </div>

                </aside>


                <!-- MAIN RIGHT CONTAINER -->
                <!-- CHAT-CONTAINER -->
                <main class=" container-chat ">
                    <!-- CHAT CONTAINER-BAR -->
                    <div class="contact-chat-bar">
                        <div class="d-flex">
                            <img class="rounded-circle" :src="`./img/avatar${currentContact.avatar}.jpg`" alt="avatar">
                            <div class="d-flex flex-column profile-name lh-lg">
                                <span class="fw-bold">{{currentContact.name}}</span>
                                <span class="d-inline-block text-truncate" style="width: 250px">Ultimo accesso i</span>
                            </div>
                        </div>
                        <!-- ICON -->
                        <div class="pt-2">
                            <a class="icon-option" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a class="icon-option" href="#"><i class="fa-solid fa-paperclip"></i></a>
                            <a class="icon-option" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </div>
                    </div>

                    <!-- CHAT-CONTENT-CONTAINER -->

                    <div class="message-container p-4 flex-grow-1 overflow-auto h-100" ref="msgContainer">
                        <div>

                            <div class="single-message position-relative"
                                v-for="(currentMessage,i) in currentContact.messages">
                                <div>

                                    <div class="message-baloon position-relative"
                                        :class="currentMessage.status === 'sent' ? 'sent' : 'received'">
                                        {{currentMessage.message}}
                                        <br>
                                        <small class="pt-2">{{currentMessage.date}}</small>
                                        <div class="dropdown position-absolute" style="top: 6px; right: 8px;">
                                            <a href="#" class="d-block link-body-emphasis text-decoration-none"
                                                data-bs-toggle="dropdown"><i
                                                    class="fa-solid fa-caret-down hide"></i></a>
                                            <ul class="dropdown-menu text-small" style="position: absolute; "
                                                data-popper-placement="bottom-end">
                                                <li><a class="dropdown-item" @click="deleteMessage(i)"
                                                        href="#">Cancella</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- INPUT-MESSAGGE -->
                    <div class="message">
                        <a class="icon-option mx-3" href="#"><i class="fa-regular fa-face-laugh fs-5"></i></a>
                        <input type="text" v-model='myMessage.message'
                            @keyup.enter="sentMessage"
                            class="form-control border-0 d-flex flex-wrap"
                            placeholder="Scrivi un messaggio">

                        <a class="icon-option mx-3" href="#"><i class="fa-solid fa-microphone fs-5"></i></a>
                    </div>

                </main>

            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>