body {
    height: 80vh;
}

#app {
    height: 100%;
}

header {
    min-height: 100px;
    background-color: #009688;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

img {
    width: 50px;
    height: 50px;
}

.icon-option {
    color: gray;
    opacity: .5;
    padding: 0 .5rem;
}

.profile-bar {
    border: 1px solid rgb(128, 128, 128);
    width: 40%;
    height: 100%;
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.my-profile {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

.img-profile {
    margin: .5rem;
    width: 50px;
    height: 50px;
}

.notification-bar {
    background-color: #8EDAFC;
}

.notification-bar>a {
    width: 50px;
    aspect-ratio: 1/1;
    text-decoration: none;
    color: #8EDAFC;

}

.notification-bar>div {
    font-size: 0.8rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    background-color: #FAFAFA;
}

.contact-container>ul {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow: auto;

}

.profile-name {
    font-size: .8rem;
    padding: 0 .5rem;
}

.container-chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    border: 1px solid rgb(128, 128, 128);
}

.contact-chat-bar {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9;
    padding: .5rem;


}

.message-container {
    background-image: url('img/mine.jpg');
}

.message {
    flex-shrink: 0;
    align-items: center;
    padding: 1rem .5rem;
    display: flex;
    background-color: #F3EDEA;
}


.message-baloon {
    margin: .5rem 0;
    padding: .5rem;
    border-radius: .5rem;
    width: 250px;
    max-width: 50%;
    background-color: white;
    word-break: break-all;
}

.message-baloon>small {
    font-size: .7rem;
    display: block;
    text-align: end;
}

.sent {
    margin-left: auto;
    background-color: #D5F9BA;
}

.drop{
    position: absolute;
    right: 0;
}